/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1024px;
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

	hr {
	display:none;
	}
		
	#email,
	#name {
		width:100%;
		margin-bottom:0;
	}
}



.team-bio {
    	.teacher-picture {
    		background-color:yellow;
    	}
    	
    	.teacher-text {
    		display:none;
    	}
    }

/*********************
Home Page STYLES
*********************/

.announcments{

	border-right:2px solid $border-grey;

	hr {
		display:none
	}
	
	
	.announce-picture {
		width:25%;
		float:left;
		margin-top:35px;

		img {
		margin: 0 0 0;
		}
		
	}

	.announc-article {
		width:70%;
		float:left;
	}

	.announc-title {

		width:100%;
		float:left;
	}


	.announce-text {
	 	display:block;
	}


	
}

	


	

